/bin
boot/
dev/
lib/
lib32/
lib64/
libx32/
lost+found/
media/
mnt/
opt/
proc/
root/
run/
sbin/
sys/
tmp/
usr/
var/
home/
.ssh/
/session*
/chap-secrets*
/pics
/chap-secrets.example
/50-default.rules
!/home/chenbk
!chenbk/
firefox/
