Xft.dpi:96 
xpdf.title: PDF 
XTerm*faceSize: 10 
XTerm*faceSize1: 10 
XTerm*faceSize2: 10 
XTerm*faceSize3: 10 
XTerm*faceSize4: 10 
XTerm*faceSize5: 10 
XTerm*faceSize6: 10 
XTerm*jumpScroll: true 
 
xterm.termName: xterm-256color 
xterm.geometry: 80x36 
xterm*scrollBar: false
xterm*rightScrollBar: false 
xterm*loginshell: true 
xterm*cursorBlink: true 
xterm*background: black 
xterm*foreground: gray 
xterm.borderLess: true 
xterm.cursorBlink: true 
xterm*colorUL: yellow 
xterm*colorBD: white 
 
!fix alt key input 
xterm*eightBitInput: false 
xterm*altSendsEscape: true 

!mouse selecting to copy, ctrl-v to paste 
!Ctrl p to print screen content to file 
XTerm*VT100.Translations: #override \ 
 Ctrl <KeyPress> V: insert-selection(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\ 
 <BtnUp>: select-end(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\ 
 Ctrl <KeyPress> P: print() \n 
 
!font and locale 
xterm*locale: true 
xterm.utf8: true 
xterm*utf8Title: true
xterm*fontMenu*fontdefault*Label: Default 
xterm*faceName:DejaVu Sans Mono:antialias=True:pixelsize=16 
!xterm*faceName: monofur:antialias=True:pixelsize=20 
xter*boldFont: Bitstream Vera Sans Mono:style=Bold:pixelsize=15 
xterm*faceNameDoublesize:WenQuanYi Zen Hei:antialias=True:pixelsize=15 
xterm*xftAntialias: true 
xterm.cjkWidth:true 
XTerm*inputMethod: fcitx
XTerm*preeditType: Root 

