Xft.dpi:96 
xpdf.title: PDF 
xterm*faceSize: 10 
xterm*faceSize1: 10 
xterm*faceSize2: 10 
xterm*faceSize3: 10 
xterm*faceSize4: 10 
xterm*faceSize5: 10 
xterm*faceSize6: 10 
xterm*jumpScroll: true 
 
xterm.termName: xterm-256color 
xterm.geometry: 120x36 
xterm*scrollBar: true
xterm*rightScrollBar: true
xterm*loginshell: true 
xterm*cursorBlink: true 
xterm*background: black 
xterm*foreground: gray
xterm.borderLess: true 
xterm.cursorBlink: true 
xterm*colorUL: yellow 
xterm*colorBD: white 
 
!fix alt key input 
xterm*eightBitInput: false 
xterm*altSendsEscape: true 

!mouse selecting to copy, ctrl-v to paste 
!Ctrl p to print screen content to file 
xterm*VT100.Translations: #override \n\
 Ctrl <KeyPress> V: insert-selection(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\
 <BtnUp>: select-end(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\
 Ctrl <KeyPress> P: print() \n\
 
!font and locale 
xterm*locale: true 
xterm.utf8: true 
xterm*utf8Title: true
xterm*fontMenu*fontdefault*Label: Default 
xterm*faceName:DejaVu Sans Mono:antialias=True:pixelsize=16
xter*boldFont: Bitstream Vera Sans Mono:style=Bold:pixelsize=15
xterm*faceNameDoublesize:Droid Sans Fallback:antialias=True:pixelsize=15
xterm*xftAntialias: true 
xterm*cjkWidth:false
uxterm*inputMethod: fcitx
! xterm*inputMethod: fcitx
xterm*preeditType: Root 

xterm.urgentOnBell: True
xterm*urlLauncher: /usr/bin/firefox-bin
xterm*matcher.button: 1
